<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= @title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="shortcut icon" href="/images/MOVE-Banana.png" type="image/x-icon" />
<%= @meta_partial %>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1><%= @title %></h1>
      <h1 class="big">Voter Guide</h1>
      <h1>Vote by <%= @election_day %></h1>
    </div>
    <div class="section">
      <div class="inner">
        <div class="about">
          <h1>How to Vote</h1>
          <h3>What You’ve Gotta Bring</h3>
          <p>All voters in Texas are now required to bring a valid form of photo identification to vote.</p>
          <p>Acceptable forms of identification (you only need to bring 1 of the following):</p>
          <ul>
            <li>Texas driver license issued by the Texas Department of Public Safety (DPS)</li>
            <li>Texas Election Identification Certificate issued by DPS</li>
            <li>Texas personal identification card issued by DPS</li>
            <li>Texas concealed handgun license issued by DPS</li>
            <li>United States military identification card containing the person’s photograph</li>
            <li>United States citizenship certificate containing the person’s photograph</li>
            <li>United States passport</li>
          </ul>
          <p>Bringing a voter registration certificate (proof of registration) is not required but is highly recommended.</p>
          <h3>Where You’ve Gotta Go</h3>
          <p>To find out when the polls will be open or what your Election Day polling site is, visit the <a href="http://elections.bexar.org/" target="_blank">Bexar County Elections Department</a>.</p>
          <h3>Brought to you by</h3>
          <div class="grid-12 clear">
            <a target="_blank" href="http://movesanantonio.org/"><img class="grid-6 push-3" src="/images/logo.png"></a>
          </div>
          <p class="clear">MOVE San Antonio does innovative democracy for our generation. We’re a multi-racial, member-driven organization of young San Antonioans, who are working hard to build a great future and empower great new leaders to keep making it greater. We’re non-partisan, we’re young, and we’re committed to positive change in our communities.</p>
          <p style="font-size: 0.75em; text-align: center" class="grid-11 centered gutter-top clear">And you can find all the <a href="<%= @base.repo %>" target="_blank">code and whatever right here</a> and oh yeah it was built by <a target="_blank" href="http://twitter.com/sduncombe">this person</a>.</p>
        </div>
      </div>
  </div>
  <div class="section">
    <div class="inner"></div>
  </div>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="/javascripts/turf.min.js"></script>
  <script type="text/javascript" src="/javascripts/tinyxhr.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59932015-3', 'auto');
    ga('send', 'pageview');

  </script>

  <div id="popup_config" data-url="http://www.denvervoterguide.org/form.html" data-key="1MyYumXw-2x1QSho1RMYLrfYJAWaA8kv3b9idjHDTmKc" data-phone_name="entry.1180421525" data-zip_name="entry.229449272" data-optin_name="entry.1797815415"></div><script src="http://www.denvervoterguide.org/javascripts/popup.js"></script>

</body>
</html>
